.wall-news-progress-bar {
    display: inline-block;
    width: 20%;
    margin: 0 0 0 5px;
    .progress-bar {
        line-height: 9px;
        font-size: 70%;
    }
}

.panel-news .media {
    margin-top: 0px;
}

.panel-news .subline {
    font-size: 11px !important;
}

.panel-news .media-list li:last-child {
    border-bottom: 0px;
}